:root {
  --white: #fff;
  --black: #000;
  --gray: #f6f8fa;
  --border-gray: #d0d7de;
  --blue: #218bff;
}

.container {
  min-height: 100vh;
  position: relative;
}


#search-bar {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-bar .title {
  font-size: 2.25rem;
}
#search-bar .title h1 {
  margin: 24px 0;
}

#search-bar input {
  background-color: var(--gray);
  padding: 16px 24px;
  border: 1px solid var(--border-gray);
  border-radius: 6px;
  min-width: 500px;
  font-size: 16px;
}
#search-bar input:focus,
#search-bar input:focus-visible {
  background-color: var(--white);
  border-color: var(--black);
}
#search-bar button {
  background-color: var(--blue);
  border-radius: 4px;
  margin-top: 1.5rem;
  padding: 1rem;
  border: none;
  color: var(--white);
  min-width: 200px;
  cursor: pointer;
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
  #search-bar .title {
    font-size: 1rem;
  }
  #search-bar input {
    font-size: 12px;
    min-width: 300px;
    padding: 10px 12px;
  }
  #search-bar button {
    font-size: 12px;
    width: 100%;
    padding: 10px 12px;

  }

}